html, body {
  margin: 0;
	padding: 0;
  border: 0;
  width: fit-content;
 }

body {
  font-size: 18px;
}
 /* HEADER */

.header {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: sticky;
  top:0;
  color:whitesmoke;
  background-color: #2C6BBC;
}

.header-logo {
 margin:0 1rem;
}

.header-title {
  text-align: center;
  margin:3rem 0 0 0;
  font-size:20px;
}

.header-hamburguer {
  display: block;
  position:absolute;
  top: 25%;
  right: 5%;
}

/* NAV ITEMS*/

.nav-links {
  display: none;
}

.operative {
  position:absolute;
  display: flex;
  flex-direction: column;
  top:8rem;
  left: 5rem;
  width: 60%;
  margin-left: 1rem;
  font-size: 30px;
  padding: 2rem;
  line-height: 1.2;
 }

.operative a {
  text-decoration: none;
  background-color:whitesmoke;
  color:black;
  padding: 1rem;
  border-bottom:1px solid whitesmoke;
}

#myLinks a:hover {
  background-color: #88C449;
  color: white;
}

/* MAIN SECTION */

main {
 padding-top:1rem;
}

.main-text {
  padding: 1rem;
}

.main-picture {
  width: 100%;
  height: 18rem;
}

/* SLIDER */

iframe{
  width: 100vw;
  height: calc(100vw/1.77);
}

.slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slide-text {
  font-size:20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 75%;
  text-align: center;
}

.slide.fade img {
  height: 250px;
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.slide-container .prev {
  left: 2px;
}

.slide-container .next {
  right: 2px;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dots-container .dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  color: #333;
  border-radius: 50%;
  background-color: #dfd6ce;
}

.dots-container .dot.active {
  border: 2px solid green;
}

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  position: relative;
  z-index:-1;
}

.slide-container .slide {
  display: none;
  width: 100%;
}

.slide-container .slide.fade {
  animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-container .slide img {
  width: 100%;
}

/* FOOTER */

footer {
  background-color: whitesmoke;
}

footer h4 {
  text-align: center;
}

.social-media {
  display: flex;
  align-items: center;
}

.social-media a {
margin-left: 10%;
}

.social-media_twitter,
.social-media_youtube {
  width: 50%;
}

.footer-credits {
  background-color:#ddd;
  color:#88C449;
  text-align: center;
}
.footer-credits a {
  color: #88C449;
  text-decoration:none;
}


