html, body {
  margin: 0;
	padding: 0;
  border: 0;
  width: fit-content;
 }

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: whitesmoke;
}
 /* HEADER */

.header {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: sticky;
  top:0;
  color:whitesmoke;
  background-color: #2C6BBC;
  z-index: 100;
}

.header-logo {
 margin:0 1rem;
 max-width: 50%;
}

.header-title {
  text-align: center;
  margin:3rem 0 0 0;
  font-size:20px;
  margin-left: -4%;
}

.header-hamburguer {
  display: block;
  position:absolute;
  top: 25%;
  right: 5%;
  margin:1rem 0 0 0;
}

/* NAV ITEMS*/

.nav-links {
  display: none;
}

.operative {
  position:relative;
  display: flex;
  flex-direction: column;
  top:1rem;
  width: 100%;
  top:7rem;
  line-height: 1.2;
  position: sticky;
  z-index: 90;
 }

.operative a {
  text-decoration: none;
  background-color:whitesmoke;
  color:black;
  padding: 1rem;
  border-bottom:1px solid whitesmoke;
}

#myLinks a:hover {
  background-color: #88C449;
  color: white;
}

/* MAIN SECTION */

main {
 padding-top:1rem;
}

.main-text {
  padding: 1rem;
}

.main-picture {
  width: 100%;
  height: 12rem;
  object-fit: cover;
 }

/* SLIDER */

iframe {
  width: 100vw;
  height: calc(100vw/1.77);
}

.slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slide-text {
  font-size:20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 75%;
  text-align: center;
  z-index: 1;
}

.slide-text a {
  color: white
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.slide-container .prev {
  left: 2px;
}

.slide-container .next {
  right: 2px;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dots-container .dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  color: #333;
  border-radius: 50%;
  background-color: #dfd6ce;
}

.dots-container .dot.active {
  border: 2px solid green;
}

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  position: relative;
}

.slide-container .slide {
  display: none;
  width: 100%;
}

.slide-container .slide.fade {
  animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-container .slide img {
  width: 100%;
}

.slide.fade img, .slide-item {
  height: 400px;
}

/* ASIDE */

.aside-container {
  margin-top: 3rem;;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.aside-container_link {
  width: 45%;
  height: 5rem;
  background: #88C449;
  color:white;
  text-align: center;
  padding: .3rem;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.aside-container_link a {
  margin-top: 1rem;
  text-decoration: none;
  color: white;
}

/* DONATE */
.donate {
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  background: #E8E8E8;
  padding: 1rem;
  width: 85%;
  border-radius: 10px;
}

.donate h2 {
  text-align: center;
  color:#2C6BBC;
}

.donate p {
  margin: 0 auto;
  padding-bottom:1rem;
}

.donate-info {
  width: 45%;
  margin:0 auto;
  background: #88C449;
  color:white;
  text-align: center;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.donate-info a {
  text-decoration: none;
  color: white;
}

/* FOOTER */

footer {
  background-color: whitesmoke;
  margin-top: 1rem;
}

.find-us {
  margin-top:1rem;

}

.find-us .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background: #E8E8E8;
  padding: 1rem;
  width: 85%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.find-us .card h2,
.contact-us_container h2 {
  display: block;
  width: 100%;
  text-align: center;
  color:#2C6BBC;
}

.find-us .card p {
  text-align: center;
}

.find-us .email p {
  text-align: start;
}

.find-us_map {
  width:90%;
  object-fit: cover;
}

.find-us_location {
  width:90%;
  margin:1rem 0;
  border-radius: 10px;
  box-shadow:2px 2px 5px #888888;
}

.contact-us_container {
  display: flex;
  flex-flow: row wrap;
  margin:0 auto;
  background: #E8E8E8;
  padding: 1rem;
  width: 85%;
  border-radius: 10px;
  justify-content: space-around;
}

.contact-us_container h2 {
  margin:0;
}

.twitter{
  width: 70%;
}

.youtube {
  width: 90%;
  margin-top:1rem;
}

.contact-us_social {
  width: 50%;
 }

.contact-us_social a {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.fa-envelope {
  color:#2C6BBC;
  margin-bottom: 1rem;
}

.footer-credits {
  background-color:#505050;
  color:#88C449;
  text-align: center;
}

.footer-credits a {
  color: #88C449;
  text-decoration:none;
}

.red {
  color:red;
}

@media only screen and (min-width: 768px) {
  .header-title {
   margin-left: -2rem;
  }

  .find-us .card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 3rem;
  }

  .find-us .card h2 {
    display: block;
    width: 100%;
    margin-bottom: 3rem;
  }
  .find-us_map,
  .find-us_location {
    width: 45%;
    height: 270px;
  }
  .twitter {
   width: 60%;
  }

  .youtube {
    margin-top: .5rem;
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {

  .find-us_location p {
    margin-top:2rem;
  }

  .youtube {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 1201px) {
  body, html {
    max-width: 1201px;
    margin:0 auto;
    font-size: 22px;
  }

  .donate,
  .find-us .card,
  .contact-us_container {
    width: 92%;
  }
    
  .slide-text {
    font-size: 22px;
    line-height: 1.5;
  }

  .aside-container_link a p{
    line-height: 3rem;
  }
    
  .donate-info a p {
    padding: 1rem;
  }

  .find-us_map,
  .find-us_location {
    width: 45%;
    height: 350px;
  }

  .twitter {
    width: 45%;
    margin-left: 30%;
  }
 
  .youtube {
    margin-top: .7rem;
    width: 60%;
  }
}
  
